.newUser {
  flex: 4;
}
.formButton2 {
  margin-left: auto;
  margin-top: 10px;
}
.newUserButton2 {
  width: 200px;
  border: none;
  background-color: darkblue;
  color: white;
  padding: 10px 10px;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 30px;
  cursor: pointer;
  margin-left: auto;
}

.cancelButton2 {
  width: 200px;
  border: none;
  background-color: darkblue;
  color: white;
  padding: 10px 10px;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 30px;
  cursor: pointer;
  margin-left: 20px;
  background-color: gray;
}
/* @media screen and (max-width: 1200px) {
  .newUser {
    width: 170%;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .newUser {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 23rem; */
/* width: 27rem;
  }
} */
@media (max-width: 600px) {
  .newUser {
    width: 100%;
    padding: 0 10px;
  }
}

@media (max-width: 768px) {
  .newUserItem {
    margin-bottom: 15px;
  }
}

@media (max-width: 480px) {
  .formButton2 {
    flex-direction: column;
  }

  .newUserButton2,
  .cancelButton2 {
    width: 100%;
    margin-left: 0px;
  }
}
